<ion-modal-view>
	<ion-header-bar class="background_color text_white">
      <h1 class="title text_white">Contact Us</h1>
	  <button ng-click="closeModalemailcontact()" class="button button-clear icon ion-close"></button>
    </ion-header-bar>
	<ion-content style="background:#eaedf2 !important;">
		<div class="list card no_background">
			<div class="item-text-wrap">
				If you have any queries Contact Us:
				<br />
				<a href="mailto:support@betterbrain.com">support@betterbrain.com</a>
			</div>
			<!-- <label class="item item-input">
				<input type="text" placeholder="Title">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Email">
			</label>
			<label class="item item-input">
				<textarea placeholder="Comments" style="height:80px;"></textarea>
			</label>
			
			<button class="button button-block background_color text_white">
			  Block Button
			</button> -->

		</div>
	</ion-content>
</ion-modal-view>
