<ion-view view-title="Leaderboard">
	<ion-content scroll="false">
		<tab-slide-box class="background_color">
				<div class="tsb-icons background_color">
					<div class="tsb-ic-wrp font_normal background_color">
						<ion-scroll direction="x" class="tsb-hscroll">
						<a href="javascript:;" class="font_normal text_white text-center">
							<img src="img/leaderboarditem.png"><br />
							<span class="fs-16">Collect combinations</span><br />
							<span class="fs-12">MY TOPICS</span>
						</a>
						<a href="javascript:;" class="font_normal text_white text-center">
							<img src="img/leaderboarditem.png"><br />
							<span class="fs-16">Collect combinations</span><br />
							<span class="fs-12">MY TOPICS</span>
						</a>
						<a href="javascript:;" class="font_normal text_white text-center">
							<img src="img/leaderboarditem.png"><br />
							<span class="fs-16">Collect combinations</span><br />
							<span class="fs-12">MY TOPICS</span>
						</a>
						</ion-scroll>
					</div>
				</div>
				<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
					<ion-slide>
						<ion-scroll direction="y" style="height:70% !important;">
							<div class="list">
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
							</div>
							<br /><br />
						<ion-scroll>
					</ion-slide>
					<ion-slide>
						<ion-scroll direction="y" style="height:70% !important;">
							<div class="list">
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
							</div>
							<br /><br />
						<ion-scroll>
					</ion-slide>
					<ion-slide>
						<ion-scroll direction="y" style="height:70% !important;">
							<div class="list">
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
								<a class="item item-avatar" style="height: 95px !important; padding: 30px 0px 0px 95px;">
									<img src="img/profilepic.jpg" style="max-width:60px; max-height:60px;">
									<h2 class="font_normal fs-16">Jaqen H’ghar</h2>
									<p class="font_light fs-12">76 out of 76 questions</p>
									<span class="item-note pull_right fs-20" style="top:25px !important; color:#c9e950 !important;">
										Grammy
									</span>
								</a>
							</div>
							<br /><br />
						<ion-scroll>
					</ion-slide>
				</ion-slide-box>
		</tab-slide-box>
	</ion-content>
</ion-view>
