<ion-view view-title="Topics">
	<!-- <ion-header class="bar header-bar background_color">
		<button onclick="javascript:history.go(-1)" class="button button-clear icon ion-arrow-left-c text_white"></button>
		<h1 class="title"></h1>
	</ion-header> -->
	<ion-content overflow-scroll="true" scroll="true" style="background:#eaedf2 !important;">
		<div class="card no_margin text-center background_color padding10">
			<p class="no_margin"><i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;</p>
			<h2 class="font_normal profile-title">Aria S</h2>
			<div class="game-fram">
				<div class="player1-profile" style="background:url('img/profilepic.jpg') no-repeat center; background-size:110%;">
				</div>
				<div class="game-mainbox">
					<p class="" style="padding-top:35px !important;"><img src="img/card1.png" style="width:13%; margin:2%;"/><img src="img/card1.png" style="width:13%; margin:2%;"/><img src="img/card1.png" style="width:13%; margin:2%;"/><img src="img/card1.png" style="width:13%; margin:2%;"/><img src="img/card1.png" style="width:13%; margin:2%;"/></p>
				</div>
				<div class="player2-profile" style="background:url('img/profilepic.jpg') no-repeat center; background-size:110%;">
				</div>
			</div>
			<h2 class="font_normal profile-title">Aria S</h2>
			<p class="no_margin"><i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i></p>
		</div>
		<div class="card br">
			<div class="item text-center text_color item-text-wrap">	
				<br />
				<span class="font_bold text_color fs-20">HOW MANY COMBINATIONS CAN YOU COUNT?</span>
				<br /><span class="font_normal text_gray fs-12"></span>
			</div>
		</div>
		<div class="list card br">
			<div class="item range range-balanced">
				<i class="icon">0</i>
				<input type="range" name="volume" min="0" max="20" value="15">
				<i class="icon">20</i>
			</div>
		</div>
		<button class="button br80 button-balanced" style="width:60%; margin:0 20%; font-size:20px; height:60px !important; line-height:60px !important;">
		  ANSWER!
		</button>
		<br /><br />
	</ion-content>
</ion-view>
