<ion-view view-title="Topics">
	<!-- <ion-header class="bar header-bar background_color">
		<button onclick="javascript:history.go(-1)" class="button button-clear icon ion-arrow-left-c text_white"></button>
		<h1 class="title"></h1>
	</ion-header> -->
	<ion-content overflow-scroll="true" scroll="true" style="background:#eaedf2 !important;">
		<div class="card no_margin text-center background_color padding10">
			<p class="no_margin"><i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;</p>
			<h2 class="font_normal profile-title">Aria S</h2>
			<div class="game-fram">
				<div class="player1-profile" style="background:url('img/profilepic.jpg') no-repeat center; background-size:110%;">
				</div>
				<div class="game-mainbox">
					<p class="" style="padding-top:35px !important;"><img src="img/card1.png" style="width:13%; margin:2%;"/><img src="img/card1.png" style="width:13%; margin:2%;"/><img src="img/card1.png" style="width:13%; margin:2%;"/><img src="img/card1.png" style="width:13%; margin:2%;"/><img src="img/card1.png" style="width:13%; margin:2%;"/></p>
				</div>
				<div class="player2-profile" style="background:url('img/profilepic.jpg') no-repeat center; background-size:110%;">
				</div>
			</div>
			<h2 class="font_normal profile-title">Aria S</h2>
			<p class="no_margin"><i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i></p>
		</div>
		<div class="card br">
			<br /><br /><br />
			<div class="item text-center no_background text_color item-text-wrap">	
				<span class="font_bold text_color fs-20">HOW MANY COMBINATIONS CAN YOU COUNT?</span>
				<br /><span class="font_normal text_gray fs-12"></span>
			</div>
			<br /><br /><br />
		</div>
		<div class="card list br" style="">
			<label class="item item-input" style="padding:15px !important;">
				<input type="text" class="fs-20" placeholder="Type your answer here">
				<i class="icon ion-mic-a placeholder-icon fs-30" style="right:20px !important;"></i>
			</label>
		</div>
		<br /><br />
	</ion-content>
</ion-view>
